In [ ]:
import pandas as pd
import numpy as np

# How To Use Python pandas dropna() to Drop NA Values from DataFrame
https://jsol369.blogspot.com/2023/11/removing-missing-data-with-pandas.html

In [ ]:
# Create a DataFrame with some missing values
df = pd.DataFrame({'A': [1, 2, np.nan, 4, 5], 'B': [np.nan, 3, 4, 5, 6], 'C': [7, 8, 9, np.nan, np.nan]})

# Remove rows with any missing values
df.dropna(how='any', inplace=True)

# Print the DataFrame
print(df)

     A    B    C
1  2.0  3.0  8.0

In [ ]:
# Create a DataFrame with some missing values
df = pd.DataFrame({'A': [1, 2, np.nan, 4, 5], 'B': [np.nan, 3, 4, 5, 6], 'C': [np.nan, np.nan, np.nan, np.nan, np.nan]})

# Remove columns with all missing values
df.dropna(how='all', axis=1, inplace=True)

# Print the DataFrame
print(df)

     A    B
0  1.0  NaN
1  2.0  3.0
2  NaN  4.0
3  4.0  5.0
4  5.0  6.0